* {
    margin: 0;
    padding: 0px;
    list-style: none;
    scroll-behavior: smooth; /*Scroll Suave nas transições*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header {
    padding: 25px;
    background-color: #87b091;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

header img {
    width: 120px;
}

header h1 {
    display: flex;
    align-items: center;
    color: #171430;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 80px;
    right: 100px;
    font-weight: 600;
}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.list-menu ul li {
    list-style: none;
}

.list-menu ul li a {
    text-decoration: none;
    color: #171430;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.list-menu ul li a:hover {
    color: rgb(163, 10, 10);
    transition: 0,8s;
}




/* FIM DO CABEÇALHO */

/* INICIO PRIMEIRA SESSÃO */
.sessao1 {
    padding: 250px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(IMAGENS/002_d8b12b0012.jpg);
    background-attachment: fixed;

    display: flex;
    justify-content: center;
}


.sessao1 button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 20px;
    width: 220px;
    height: 30px;
    background-color: #87b091cc;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    font-size: 15px;
   text-decoration: none;
}

.button:hover {
    background-color: #171430;
    color: #c4d4ab;
    transition: 0,8s;
}
/* FIM PRIMEIRA SESSÃO */


/* INICIO SEGUNDA SESSÃO */

.sessao2 {
    padding: 100px;
    background-color: #c4d4ab;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.sessao2 div {
    width: 300px;
    height: 300px;
    background-color: #171430;
    color: #eff0d5;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    line-height: 25px;
}


.div-02 h2 {
    color: #171430;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.div-02 {
    background-image: url(IMAGENS/300x300.jpg);
    background-size: cover;
}

.div-03 {
    width: 100px;
    height: 100px;
}

.div-03 p {
    font-size: 17px;
    color: #eff0d5;
    font-weight: 600;
    line-height: 25px;
}


/* FIM DA SEGUNDA SESSÃO */


/* INICIO DA TERCEIRA SESSÃO */
.sessao3 {
    background-color: #171430;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   
}

.sessao3 div img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.sessao3 span {
    color: #87b091;
    font-size: 37px;
}


.sessao3 img {
    width: 400px;
    height: 500px;
}

.sessao3 p {
    font-size: 27px;
    color: #eff0d5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


/* FIM DA TERCEIRA SESSÃO */


/* INICIO DA QUARTA SESSÃO */
.sessao4 {
    background-color: #87b091;
    display: flex;
    align-items: center;
    padding: 120px;
    gap: 30px;
    text-align: center;
    
}

.sessao4 p {
    background-color: #17143042;
    padding: 15px;
    font-size: 28px;
    color: #171430;
    text-align: center;
   
}

.sessao4 iframe {
    border-radius: 15px;
    width: 500px;
}



/* INICO DO RODAPÉ */
footer {
    padding: 7px;
    background-color: #171430;
    text-align: center;
    height: 185px;
    line-height: 10px;
}

footer h3 {
    font-size: 25px;
    color: #eff0d5;
}

footer p {
    color: #eff0d5;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer img {
    width: 65px;
}

/* FIM DO RODAPÉ */


/* PAGINA 2 */
.div-pai {



}



